body{
  transition: opacity 0.3s ease;
}
body.fade-out{
  opacity: 0;
}
/* Navbar */
.navbar {
    background-color: #ffffff;
    color: #414840;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-family: "Buttons" , sans;
    font-size: 14px;
    max-height: 53px;
  }

  .navbar-logo img {
    width: auto;
    height: 50px;
    margin-left: 50px;
  }

  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-menu li {
    margin-right: 20px;
  }

  .navbar-menu li:last-child {
    margin-right: 10px;
  }

  .navbar-menu a {
    text-decoration: none;
    color: #414840;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .navbar-menu button{
    margin-top: -7px;
    margin-right:   120px;
    font-size: 14px;
  }

  .navbar-menu a:hover {
    color: #648660;
  }
  .btn-login {
    background-color: transparent;
    font-family: "Buttons", sans-serif;
    padding: 5px;
    border: 2px solid #475f45;
  }
  .btn-logout{
    font-family: "Buttons", sans-serif;
    padding: 5px;
    border: 2px solid #ff0000;
  }
  .btn-logout a{
    color: #ff0000;
  }

  /* Navbar End */

  /* Section 1 */
  .section1 {
    min-height: calc(100vh - 47px); /* 40px adalah tinggi navbar, disesuaikan jika tinggi navbar Anda berbeda */
    background-color: #343D33;
  }
  
  .bookingsection{
    text-align: center;
  }
  .image-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .image-container a {
    display: block;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 20px ;
  }

  .image-wrapper {
    text-align: center;
  }
  
  .image-wrapper img {
    width: 200px;
    height: 200px;
  }
  
  .image-label {
    margin-top: 10px;
    color: #ffffff;
  }

  .img-hover img {
    transition: transform .5s, filter .5s ease-in-out;  
  }
  .img-hover:hover img {
    transform: scale(0.9);
  }
  /* End of Section 1 */

  /* Section 2 */
  .section2{
    height: calc(100vh - 47px); /* 40px adalah tinggi navbar, disesuaikan jika tinggi navbar Anda berbeda */
    background-color: #343D33;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .header{
    background-color: #737b72;
    color: #ffffff;
    display: flex;
    align-items: center;    
    justify-content: center;
    font-family: "LibreRegular" , sans;
    font-size: 14px;
    width:100%;
    height: 53px;
    margin:0;
  }

  /* End of Section 2 */

  /* Section 3 */

  .section3{
    min-height: calc(100vh - 56px);
    margin: 0;
    padding: 0;
  }

  /* Section 3 */
  .qna-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .question-list {
    margin-top: 30px;
    width: 700px;
  }

  .question-list h2 {
    margin-bottom: 10px;
  }

  .question {
    margin-bottom: 20px;
    background-color: #C4C4C4;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
    margin-top: 10px;

  }

  .question p {
    margin-bottom: 5px;
  }

  .question:hover {
    background-color: #e7e7e7;
  }

  .question .question-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .question .question-heading p {
    flex: 1;
    margin: 0;
    padding: 10px;
  }

  .question .question-heading .icon {
    padding: 10px;
    transition: transform 0.3s ease;
  }

  .question.active .question-heading .icon {
    transform: rotate(180deg);
  }
  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .answer p {
    margin-bottom: 5px;
    padding: 10px;
  }
  .question.active .answer {
    max-height: 100px; /* Ubah sesuai kebutuhan */
  }

  /* Buttons */
  .btn1{
    background-color: #475f45;
    color: #ffffff;
    border-radius: 5px;
    font-family: "Buttons",sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn1:hover{
    background-color: #3a4f38;
  }
  /* End of Buttons */

  /* Footer */
  footer {
    background-color: #414840;
    padding: 20px;
    display: flex;
    font-family: "Footer", sans-serif;
    flex-direction: row;
    color: #eed9d9;
  }
  
  .footer-column {
    flex: 1;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .company-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
  }
  
  .company-info img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
  }

  .company-info p{
    max-width: 200px;
    font-size: 14px;
  }
  
  .sitemap li {
    margin-bottom: 5px;
    list-style: none;
  }
  
  .sitemap li a{
    text-decoration: none;
    color: #eed9d9;
    font-size: 14px;
  }

  .social-media {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media li:last-child {
    margin-right: 0;
  }
    
  .footer-bottom {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-family: "Footer";
  }
  
  .container-footer-bottom {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    text-align: center;
  }
  /* End of Footer */

  /* HomePage */

  .homepage-1{
    min-height: calc(100vh - 56px);
    margin: 0;
    padding: 0;
    display: flex;
  }

  .homepage-2{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:center;
    background-color: #414840;
    color: #ffffff;
    font-family: "LibreRegular", sans-serif;
    text-align: center;
  }

  .homepage-3{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content:center;
    background-color: #ffffff;
    color: #414840;
    font-family: "LibreRegular", sans-serif;  
  }

  /* Dialog */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .dialog {
    background-color: #414840;
    color: #eed9d9;
    padding: 50px 100px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    z-index: 3;
  }

  .dialog h2 {
    margin-top: 0;
  }

  .dialog button {
    margin-top: 10px;
  }
.btn-dialog{
  background-color: #475f45;
  color: #ffffff;
  padding : 5px 20px;
  border-radius: 5px;
  font-family: "Buttons",sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn1:hover{
  background-color: #3a4f38;
}

