<footer>
  <div class="footer-column">
    <h3></h3>
    <div class="company-info">
      <img
        src="../assets/245959803_180882220878709_8626775629138653314_n.jpg"
        alt="Logo Perusahaan"
        style="border-radius: 50%"
      />
      <p>
        Nikmati ....<br />
        Keelokan bentang alam Gunung Merapi dan sejuknya udara dataran tinggi di
        sini.
      </p>
    </div>
  </div>

  <div class="footer-column" style="padding-left: 120px">
    <h3 style="font-size: 16px">Sitemap</h3>
    <ul class="sitemap">
      <li><a href="HomePage.html">Home</a></li>
      <li><a href="BookingPage.html">Booking</a></li>
      <li><a href="ContactFormPage.html">Contact Form</a></li>
      <li><a href="ArtikelPage.html">Artikel</a></li>
    </ul>
  </div>

  <div class="footer-column" style="padding-left: 80px">
    <h3 style="font-size: 16px">Ikuti Kami</h3>
    <ul class="social-media">
      <li>
        <a
          href="https://www.instagram.com/tankaman.kaliurang/"
          style="color: #eed9d9; font-size: 14px; text-decoration: none"
          ><i
            class="fa-brands fa-instagram"
            style="color: #eff0f2; margin-right: 10px"
          ></i>
          Instagram</a
        >
      </li>
    </ul>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container-footer-bottom">
    <p style="font-size: 12px">
      &copy; 2023 Gustian Safitri. All rights reserved.
    </p>
  </div>
</div>
